<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="/maps">Map</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding" style="border: #3880ff 2px solid;" *ngFor="let door of doorList">
    <ion-card-header>
      <ion-card-title style="font-size: 20px;">{{ door.name }}</ion-card-title>
      <ion-card-subtitle style="margin-top: 10px; font-size: 16px;">Latitude: {{ door.latitude }}</ion-card-subtitle>
      <ion-card-subtitle style="margin-top: 10px; font-size: 16px;">Longitude: {{ door.longitude }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button *ngIf="door.open" (click)="setDoorState(door.id, false)" expand="block" color="success" style="text-align: center; font-size: 20px;">OPEN</ion-button>
      <ion-button *ngIf="!door.open" (click)="setDoorState(door.id, true)" expand="block" color="danger" style="text-align: center; font-size: 20px;">CLOSED</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>